/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*登入介面*/
.logIn{
    background: #FFD370;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "微軟正黑體";
    font-weight: bold;
}
.logIn img{
    width: 386px;
    height: 448px;
}
.loginInput{
    margin-left: 107px;
}
h1{
    font-size: 24px;
    line-height: 34.75px;
    margin-bottom: 24px;
}
.loginInput label,.wrong_email,.wrong_password{
    font-size: 14px;
    line-height: 20.27px;
}
#loginemail,#loginpassword{
    width: 272px;
    height: 23px;
    border: none;
    border-radius: 10px;
    padding: 12px 16px;
    margin: 4px 0px;
}
#loginemail:focus,#loginpassword:focus{
    background: #c5d9e9;
}
.wrong_email,.wrong_password{
    margin-bottom: 16px;
    color: #D87355;
}
.loginBtn{
    color: white;
    font-size: 16px;
    font-weight: bold;
    background: black;
    width: 128px;
    height: 47px;
    border: none;
    border-radius: 10px;
    margin-left: 96px;
    cursor: pointer;
}
.loginBtn:hover{
    color: black;
    background: #D87355;
}
.signupBtn{
    color: black;
    font-size: 16px;
    font-weight: bold;
    background: none;
    width: 38x;
    height: 23px;
    border: none;
    margin-top: 24px;
    margin-left: 137px;
    cursor: pointer;
}
.signupBtn:hover{
    text-decoration: underline;
}

/*註冊介面*/
.signUp{
    display: none;
}

/*todolist介面*/
.container{
    display: none;
}